.StudentsProfile{
    margin-top: 0.8rem;
    padding: 0.5rem 1rem;
    background-color: #f2f5fc;
    border-radius: 15px;
    margin-left: 0.8em;
}

.profile-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.student-details{
    width: 75%;
}

.detail1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1em;
}

.detail2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1.5em;
}

.detaildesign{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}

.detaillogo{
    margin-right: 1rem;
    padding-top: 0.6rem;
}

.detail h5{
    font-size: 14px;
}

.detail h6{
    font-size: 14px;
}

.StudentsProfile h3{
    font-size: 16px;
}

.profile-picture img{
    border-radius: 50%;
}



.stimetable {
    padding: 0.5em;
    margin-top: 0.8em;
    background-color: #f2f5fc;
    border-radius: 15px;
}

.sub1{
    padding: 1em;
    margin-left: 0.8em;
    margin-top: 0.7em;
    height:75px ;
    background-color: #004292;
    border-radius: 15px;
}
.icons{
    height: 50px;
    border-radius: 5rem;
    margin-bottom: 20px;
    margin-top: -7px;
    height: 60px;
}
.subname{
    text-align: center;
    color: white;
    width: 300px;
    margin-bottom: 50px;
    margin-top: -70px;
}
.sub2{
    padding: 1em;
    margin-left: 0.8em;
    margin-top: 0.7em;
    height:75px ;
    background-color: #004292;
    border-radius: 15px;
}
.sub3{
    padding: 1em;
    margin-left: 0.8em;
    margin-top: 0.7em;
    height:75px ;
    background-color: #004292;
    border-radius: 15px;
}
.sub4{
    padding: 1em;
    margin-left: 0.8em;
    margin-top: 0.7em;
    height:75px ;
    background-color: #004292;
    border-radius: 15px;
}
.sub5{
    padding: 1em;
    margin-left: 0.8em;
    margin-top: 0.7em;
    height:75px ;
    background-color: #004292;
    border-radius: 15px;
}

.notice-assignments {
    display: flex;
    margin-top: 1em;
    justify-content:space-between;
    margin-left: 0.8em;
    width:  760px;
    border-radius: 15px;
    background-color: #f2f5fc;
    padding: 0.5rem 1rem;
}

.noticeboardbody{
    
    padding: 2rem;
    margin-left: 0.7rem;
    width: 745px;
    height:6rem ;
    margin-top:0.7em ;
    background-color: #f2f5fc;
    justify-content: space-between;
    border-radius:15px;
}

.noticeboard{
    padding: 1em;
    margin-left: 0.8em;
    margin-top: 0.7em;
    height:45px ;
    background-color: #004292;
    border-radius: 15px;
    text-align: center;
}
.noticeboardtxt{
    color: #f2f5fc;
    margin-top: -8px;
}

.assignmentbody{
    padding: 2rem;
    margin-left: 0.7rem;
    width: 745px;
    height:6rem ;
    margin-top:0.7em ;
    background-color: #f2f5fc;
    justify-content: space-between;
    border-radius:15px;
}

.assignment{
    padding: 1em;
    margin-left: 0.8em;
    margin-top: 0.7em;
    height:45px ;
    background-color: #004292;
    border-radius: 15px;
    text-align: center;
}

.assignmenttxt{
    color: #f2f5fc;
    margin-top: -8px;
}




